*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;

}
body{
    font-family: sans-serif;
    color: aliceblue;
    background-color: rgb(19, 19, 19);
}

.menu{
    display: block;
    background-color: rgb(255, 198, 43);
    border:solid 4px black;
    position: fixed;
    width: 100%;
    padding: 0 30px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.menu ul{
    list-style: none;
    display: block;
    max-width: 1200px;
    padding: 0 30px;
    margin: 0 auto;
}

.menu ul li{
    float: left; 
}

.menu ul li a{
    display: block;
    padding: 12px 20px;
    transition: all 300ms ease-in-out;
    color: black;
    font-size: 25px;
    text-decoration: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.menu ul li a:hover{
   font-size: 28px;
    background-color: rgba(233, 179, 31, 0.678);
}


.grid{
    max-width: 1200px;
    padding: 15px;
    margin: 0 auto;
    padding-top: 73px;
    color: rgb(0, 0, 0);
}

.grid .elements{
    height: 300px;
    width: 33.3%; 
    float: left;  
    padding: 15px;    
    background-color: rgb(30, 30, 30);

}
.grid .elements .content{
    width: 100%;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    height: 100%;
    background-color: rgb(255, 198, 43);
    box-shadow: -5px 0 10px 5px  rgb(19, 97, 255);
    
   
}


.grid::after{
    content: '';
    display: block;
    clear: both;
}


.content-page{
    max-width: 1200px;
    padding: 30px;
    margin: 0 auto;
    padding-top: 73px;
    background-color: rgb(29, 29, 29);
    height: 110vh;
    border: solid 2px rgb(255, 198, 43);;
}
.content-page h2{
   text-align: center;
   margin: 15px 0;
   color:rgb(255, 198, 43);
   font-size: 30px;
}

.content-page pre{
    font-size: 20px;
}
.content-page pre .cod{
    color: rgb(255, 198, 43);
    font-size: 25px;
}

.about{
    max-width: 1200px;
    padding: 30px;
    margin: 0 auto;
    background-color: rgb(255, 198, 43);;;
    color: black;
    font-family: monospace;
    border-radius: 15px;

}
@media(max-width: 320px ){
    .grid .elements{
        width: 100%;
    }
}

@media(min-width: 321px) and (max-width:768px){
    .grid .elements{
        width: 50%;
    }
}

@media(min-width: 769px){
    .grid .elements{
        width: 33.3%;
    }
}

@media(min-width: 1200px){
    .grid .elements{
        width:25%;
    }
}